* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: solid 2px orange;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 200px auto 100px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: hsl(0, 0%, 100%);
    border: solid 2px black;
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

h2, p {
    margin: 25px 5px 10px 5px;
    padding: 0;
    max-width: 250px;
}

h2 {
    border: solid 2px green;
    font-size: 18px;
    text-align: center;
}

p {
    border: solid 2px red;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.attribution p {
    font-size: 10px; 
    bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}